.bread {
  .container();
  margin-top: 40px;
  @media @bw370{
  display: none;
  }

&__crumbs {
  font-size: 16px;
  font-weight: 400;
  font-family: @font1;
  text-decoration: none;
  @media @bw1020 {
  font-size: 14px;  
  }
}
}